@tailwind base;
@tailwind components;
@tailwind utilities;

/* .Red-Primary {
  --Red-Primary:#E93D44;
  }

.Dark-Primary {
  --Dark-Primary: #111823;
  }

.Gray-Primary {
  --Gray-Primary: #22529;

}
.Gray-Light {
  --Gray-Light:R:78 G:81 B:84;
}

.White-Medium {
  --White-Medium: #fafafa;
} */
